# 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(x):
    return x ** 2

def my_exp(x, n):
    return x ** n

print(my_sq(4))
print()
print(my_exp(2, 4))

16

16

# 시리즈와 apply 메서드

In [2]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b':[20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [3]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [4]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [5]:
ex = df['a'].apply(my_exp, n=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [6]:
def print_me(x):
    print(x)

In [7]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [8]:
print(df.apply(print_me, axis=1))

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

In [9]:
def avg_3(x, y, z):
    return (x + y + z) / 3

print(df.apply(avg_3))

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [12]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [16]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [17]:
import seaborn as sns

titanic = sns.load_dataset("titanic")

In [18]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [19]:
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [21]:
cmis_col =titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [24]:
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [28]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)

print(cmis_row.head())
print()
print(pmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [33]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.loc[titanic.num_missing > 1, :].sample(30))

     survived  pclass     sex  age  sibsp  parch      fare embarked   class  \
101         0       3    male  NaN      0      0    7.8958        S   Third
629         0       3    male  NaN      0      0    7.7333        Q   Third
46          0       3    male  NaN      1      0   15.5000        Q   Third
354         0       3    male  NaN      0      0    7.2250        C   Third
158         0       3    male  NaN      0      0    8.6625        S   Third
568         0       3    male  NaN      0      0    7.2292        C   Third
727         1       3  female  NaN      0      0    7.7375        Q   Third
410         0       3    male  NaN      0      0    7.8958        S   Third
790         0       3    male  NaN      0      0    7.7500        Q   Third
768         0       3    male  NaN      1      0   24.1500        Q   Third
82          1       3  female  NaN      0      0    7.7875        Q   Third
26          0       3    male  NaN      0      0    7.2250        C   Third
431         1       3  female  NaN      1      0   16.1000        S   Third
415         0       3  female  NaN      0      0    8.0500        S   Third
241         1       3  female  NaN      1      0   15.5000        Q   Third
76          0       3    male  NaN      0      0    7.8958        S   Third
613         0       3    male  NaN      0      0    7.7500        Q   Third
547         1       2    male  NaN      0      0   13.8625        C  Second
557         0       1    male  NaN      0      0  227.5250        C   First
384         0       3    male  NaN      0      0    7.8958        S   Third
260         0       3    male  NaN      0      0    7.7500        Q   Third
601         0       3    male  NaN      0      0    7.8958        S   Third
428         0       3    male  NaN      0      0    7.7500        Q   Third
154         0       3    male  NaN      0      0    7.3125        S   Third
32          1       3  female  NaN      0      0    7.7500        Q   Third
466         0       2    male  NaN      0      0    0.0000        S  Second
667         0       3    male  NaN      0      0    7.7750        S   Third
825         0       3    male  NaN      0      0    6.9500        Q   Third
464         0       3    male  NaN      0      0    8.0500        S   Third
490         0       3    male  NaN      1      0   19.9667        S   Third

       who  adult_male deck  embark_town alive  alone  num_missing
101    man        True  NaN  Southampton    no   True            2
629    man        True  NaN   Queenstown    no   True            2
46     man        True  NaN   Queenstown    no  False            2
354    man        True  NaN    Cherbourg    no   True            2
158    man        True  NaN  Southampton    no   True            2
568    man        True  NaN    Cherbourg    no   True            2
727  woman       False  NaN   Queenstown   yes   True            2
410    man        True  NaN  Southampton    no   True            2
790    man        True  NaN   Queenstown    no   True            2
768    man        True  NaN   Queenstown    no  False            2
82   woman       False  NaN   Queenstown   yes   True            2
26     man        True  NaN    Cherbourg    no   True            2
431  woman       False  NaN  Southampton   yes  False            2
415  woman       False  NaN  Southampton    no   True            2
241  woman       False  NaN   Queenstown   yes  False            2
76     man        True  NaN  Southampton    no   True            2
613    man        True  NaN   Queenstown    no   True            2
547    man        True  NaN    Cherbourg   yes   True            2
557    man        True  NaN    Cherbourg    no   True            2
384    man        True  NaN  Southampton    no   True            2
260    man        True  NaN   Queenstown    no   True            2
601    man        True  NaN  Southampton    no   True            2
428    man        True  NaN   Queenstown    no   True            2
154    man        True  NaN  Southampton    no   True            2
32   woman       False  NaN   Queenstown   yes   True            2
466    man        True  NaN  Southampton    no   True            2
667    man        True  NaN  Southampton    no   True            2
825    man        True  NaN   Queenstown    no   True            2
464    man        True  NaN  Southampton    no   True            2
490    man        True  NaN  Southampton    no  False            2